<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--注册一个应用-->
    <dubbo:application name="dubbo-service" />

    <!--指定注册地址-->
    <dubbo:registry address="zookeeper://192.168.211.128:2181" />

    <!--对外提供服务端口号-->
    <dubbo:protocol name="dubbo" port="2880" />

    <!--扫描指定包-->
    <dubbo:annotation package="com.pinyougou.service.impl" />
</beans>